# General
*.env
coverage/

# Generated
CHANGELOG.md
package-lock.json

# Build Artifacts
build/
dist/
public/

# Assets
*.avif
*.jpeg
*.mp3
*.mp4
*.png
*.wav
*.webp

# Alternative File Extensions
*.html5
*.jpg
*.markdown
*.yml

# Node
node_modules/

# Hugo
.hugo_build.lock
resources/

# Netlify
.netlify/*
!.netlify/state.json
