# General
*.env
build/
CHANGELOG.md
coverage/
dist/
nohup.out
public/

# Assets
*.avif
*.jpeg
*.mp3
*.mp4
*.png
*.wav
*.webp

# File Extensions
*.html5
*.jpg
*.markdown
*.yml

# Node
node_modules/

# Hugo
.hugo_build.lock
resources/

# Netlify
.netlify/*
!.netlify/state.json
