### Prettier ###
# Generated
.eslintignore
.gitignore
.prettierignore
CHANGELOG.md
package-lock.json

### Git ###
# Alternative Extensions
*.html5
*.jpg
*.markdown
*.yml

# Assets
*.avif
*.jpeg
*.mp3
*.mp4
*.png
*.wav
*.webp

# Build Artifacts
build/
coverage/
dist/
public/

# Hugo
.hugo_build.lock
resources/

# Netlify
.netlify/*
!.netlify/state.json

# Node
node_modules/

# Secrets
*.env
